
## Introduction To Python

Welcome to "Introduction to Python"! In this Jupyter notebook, we will explore the basics of the Python programming language. Whether you're new to programming or just need a refresher, this notebook is a great place to start. By the end of this notebook, you should have a solid understanding of Python's syntax, variables, data types, and operators.

<a id="variables"> </a>
## Python Variables

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [1]:
num = 66

In [2]:
print(num)

66

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named 'num' and we have assigned value 30 to 'num' variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example âˆ’

In [3]:
#Here, an integer object is created with the value 6, and all three variables are assigned to the same memory location
x = y = z = 6

In [4]:
print(x)
print(y)
print(z)

6
6
6

You can also assign different values to multiple variables

In [5]:
a,b,c = 6, 'Hello_World', 2.7

In [6]:
print(a)
print(b)
print(c)

6
Hello_World
2.7

#### Re-assigning a variable

In [7]:
var1 = 66
var2 = 'Sandeep'
var1 = var2
#The value of var2 gets copied to var1

In [8]:
print(var1)
print(var2)

Sandeep
Sandeep

### Rules and Naming Conventions

In [9]:
#Using keywords as variable name will give you an error
break = 66

SyntaxError: invalid syntax (2561002648.py, line 2)

In [22]:
#list of keywords in Python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


## Data Types

A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:
                        1. Numbers
                        2. Strings
                        3. Boolean

### Python Numbers
There are four numeric Python data type:<br>

a. int (integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>100</td>
  <td>52.1</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
</table>

#### <span style="color:Crimson">int</span>
'int' stands for integer. This Python Data Type holds signed integers. We can use the `type()` function to find which class it belongs to.

In [10]:
num = 66
type(num)

int

In [11]:
num = -66
type(num)

int

#### <span style="color:Crimson">float</span>

In [12]:
flt = 2.777
type(flt)

float

In [13]:
flt1 = -2.777
type(x)

int

In [14]:
flt2 = 2.77e7
type(flt2)

float

#### <span style="color:Crimson">long</span>

In [15]:
x = 9999999999999999
type(x)

int

 Long does not exist in Python 3 onwards. It is of type `int`

#### <span style="color:Crimson">complex</span>

In [16]:
y = 2+7j
type(y)

complex

In [17]:
y = 2e+7j
type(y)

complex


### Python Strings

A string is a sequence of characters. You can delimit a string using single quotes('string') or double-quotes("string").

In [18]:
string = "Python is a Programming Language"
type(string)

str

In [19]:
#Using singl equotes and double quotes
string2 = "it's a simple syntax similar to the English language."
string2

"it's a simple syntax similar to the English language."

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [20]:
#Print a concatenated string      
str1 = 'Sandeep_'
str2 = 'Sudesh'
str3 = str1+str2
str3

'Sandeep_Sudesh'

In [21]:
#Print a string three times  
str3 * 3

'Sandeep_SudeshSandeep_SudeshSandeep_Sudesh'

You cannot use the minus(-) operator and the division(/) operator on strings.

**Indexing in Python**

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [22]:
#str3 contains 'Sandeep_Sudesh' from above
# Print sixth character of the string
str3[5]

'e'

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [23]:
# Prints characters starting from 3rd to 8th character
str3[3:9]

'deep_S'

Strings are <em>immutable</em>. The following line of code will generate an error

In [25]:
str3[0] = 'k'

TypeError: 'str' object does not support item assignment

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions

In [26]:
var = True
type(var)

bool

In [27]:
print(18 > 9)

True

In [28]:
print(18 == 9)

False

In [29]:
print(18 < 9)

False

<a id="typecon"> </a>
## Type Conversion
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### <span style="color:Crimson">float ( )</span>
It converts the passed value into a float.

In [30]:
#convert int to float
x = 1
float(x)

1.0

You can turn a Boolean into an float.

In [32]:
#Convert Boolean to float

float (True)

1.0

In [33]:
#Convert Boolean to float

float(False)

0.0

You cannot turn a string into an float. It throws an error.

In [34]:
x = 'string'
float(x)

ValueError: could not convert string to float: 'string'

However, if the string has only numbers, then you can.

In [35]:
float("11")

11.0

#### <span style="color:Crimson">int ( )</span>

Conversion from float to int will round-off the value (make it closer to zero).

In [36]:
x = 27.7
int(x)

27

In [37]:
int(-27.7)

-27

 You can also turn a Boolean into an int.

In [38]:
int(True)

1

In [39]:
int(False)

0

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [40]:
int("DS")

ValueError: invalid literal for int() with base 10: 'DS'

#### <span style="color:Crimson">str ( )</span>
`str()` converts the value into a string.

In [41]:
x = 6
type(x)
str(x)

'6'

In [42]:
str(True)

'True'

In [43]:
str(False)

'False'

In [45]:
str(18)

'18'

<a id="print"> </a>
## Python print ( )

In [46]:
print("Hello World")

Hello World

In [47]:
#initialize a variable
x = 6
print("x =", x)

x = 6

<a id="uinput"> </a>
## User Input

The Python `input()` function is used to read data from a standard input such as a keyboard and treats the received data as string. Basically, when we enter digit value, `input()` in python 3 stores it as string value. So to convert string value to integer value, we will use `int()` function just as shown below.

In [53]:
age = int(input("What is your age: "))
print(age)
type(age)

What is your age: 23
23

int

In [51]:
age = int(input('What is your age?'))
print('Thank you')

What is your age?23
Thank you

When `input()`function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. if you enter an integer value still `input()` function convert it into a string. You need to explicitly convert it into an integer in your code.

<a id="oper"> </a>
## Python Operators

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [55]:
a = 3
b = 6
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b 

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 9
a - b = -3
a * b = 18
a % b = 3
a / b = 0.5
a // b = 0
a ** b = 729


### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns `True` or `False` according to the condition.

In [56]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator 
print('a == b  is',a==b)               # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)               # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)               # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)               # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable.

Note:

`i+=1` is the same as i=i+1, whereas `i=+1` just means i=(+1)

In [57]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator                 
x += 5 
print("after (x += 5) x is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("after (x -=2) x is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("after (x *= 2) x is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4 
print('after (x /= 2) x  is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
after (x += 5) x is 10
after (x -=2) x is 8
after (x *= 2) x is 16
after (x /= 2) x  is 4.0


### Logical Operators
We have three Python logical operators â€“ `and`, `or`, and `not`

####  <span style="color:Crimson">'and' Operator</span>
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

x = 11
a = x>10 and x<20
print(a)

Here `both` the conditions are `satisfied`. Therefore we have True as the output.

In [58]:
x = 11
a = x>10 and x==12
print(a)

False

Here `one` of the condition is `not satisfied`. Therefore we have False as the output.

#### <span style="color:Crimson">'or' Operator</span>
The expression is false only if `both` the statements around the operator are `false`. Otherwise, it is true.

In [60]:
x = 12
a = x>10 or x==20
print(a)

True

Here `one` of the condition is `satisfied`. Therefore we have True as the output.

In [61]:
x = 11
a = x>12 or x==20
print(a)

False

`None` of the above condition is `True`. Therefore we have False as the output

####  <span style="color:Crimson">'not' Operator</span>

Reverses the result, returns `False` if the result is `true`

In [62]:
#same example above
x = 11
a = not(x>12 or x==20)
print(a)

True

Congratulations on completing "Introduction to Python"! You've learned the fundamentals of Python programming. Remember to keep practicing and experimenting with different code examples, and don't be afraid to ask for help or consult online resources when you need it. Happy coding!

Sandeep Sudesh Kumar  <br>
sandeepsudesh06@gmail.com <br>
www.linkedin.com/in/sandeep-sudesh-kumar